<!-- <router-outlet> -->
    <!-- <app-por-capital></app-por-capital>
    <app-por-countrie></app-por-countrie>
    <app-sidebar></app-sidebar>
    <app-por-region></app-por-region>
    <app-see-countrie></app-see-countrie> -->

    <div class="row container mt-4">
        <div class="col-3">
            <h2>Results</h2>
            <hr>
            <ul class="list-group">
                <li class="list-group-item">Search by Country</li>
                <li class="list-group-item">Search by Region</li>
                <li class="list-group-item">Search by Capital</li>
            </ul>
        </div>

        <div class="col">
            <h2>With Region</h2>
            <hr>

        </div>
    </div>
    
<!-- </router-outlet> -->
